header{
    background-color:#264653 ;
    
    
}
.header-font-color{
    color:#FFFFFF;
}
.title{
    font-size: 48px;
    font-weight: 600;
    
    
}
.para-color{
    color: #E0E0E0;

}
.button-color{
 background: #E76F51;
 color: #FFFFFF;

}
.header-bike-image{
    
    max-width:552px;
   max-height:447px;
}
 /*---- fetured  ----*/
 .fetured-div{
     
     max-width:1171px; 
 }
.best-bike-color{
    color:#E76F51;

}
 .feture-bike{
     max-width: 288px;
     max-height: 243px;
 }
.bike{
    width:100%;
    height:100%;
}
.grayscale {
    filter: grayscale(100%);
  }

  /* ----------happy client-------- */
  .client-says-color{
      color:#E76F51;
  }
  .happy-client-container{
      max-width:1171px;
  }
 
  
  .client-image{
      height: 149px;
      width: 149px;
  }
  .fa-star{
    color:#E77C40;
    
}
.client-name{
    color:#23A6F0;
    
}
.occupation{
    color: #252B42;

}
/*--------- question section --------*/
.question-container{
    max-width:1171px;
}
.question-section-image{
    max-width:432px;
    max-height:423px;
}
.question-image{
    width: 100%;
    height: 100%;
}
.accordion{
    max-width:500px;
}
/*--------- form and progress -------- */

.form-progress-width{
    max-width:1171px;
}
/* --------------responsive------------- */
@media only screen and (max-width:767px){
     
    .header-bike-image{
    
        width:321px;
        height:260px;
     }
     .title{
        font-size:36px;
     }     
    .card-width{
        max-width:322px ;
    }
    .question-section-image{
        max-width:270px;
        max-height: 252px;
    }
    .accordion{
        max-width: 313px;
    }
    
   
  }
  @media only screen and (min-width:768px){
    .form-width{
        width:50%;
    }
    .progress-width{
        width:40%;

  } 
}